<br>
<div class="container-fluid" id="aboutMe">
  <div class="row">
    <div class="col-md-12">
     <center><img src="images/images.jpg" class="img-responsive" style="height:200px;width:200px;"></center>
      <div>
       <center> <h1>Lost And Found</h1></center>
      </div>
      <div>
        <p style="font-size: 20px;">
        Our goal in this Project is to develop an automated system of Lost And Found objects.
        This system is not yet developed in India .We are developing this system to minimize the manual workload,
        that is to find a lost property by using this system.
        GUI provide much better communication way for user to interact with this system.
        And this make it easy to operate. The evolved system is more useful for end users ,at the same time
        it promises a good and easy way for developers to maintain yhe system.Thus this project provide speed,accuracy &
        easy enhancement in more sophisticated way.
        </p>
      </div>
      </div>
    </div>
</div>
