<br>
<div class="container-fluid" id="aboutMe">
  <div class="row">
    <div class="col-md-4">
      <img src="images/lostAndFound.png" class="img-responsive img-circle">
      <div>
        <h1>Heena Shaikh</h1>
      </div>
      <div>
        I am Heena Shaikh. I have completed my schooling from Angel High School  in 2009 with distinction
        & in HSC i have secured First Class from Abeda Inamdar College & have completed my Graduation in 2014 with First Class.
        Now I am pursuing MCS from Annasaheb Magar College,Hadapsar.

      </div>
    </div>

    <div class="col-md-4">
      <img src="images/lostAndFound.png" class="img-responsive img-circle">
      <div>
        <h1>Bhavna Patil</h1>
        I am Bhavana Patil.I have completed my schooling from Sane guruji  School in 2009 with
        First Class & in HSC i have secured First Class.I have completed my graduation in 2014 with Second
        class.Now i am pursuing MCS from Annasaheb Magar College.
      </div>
    </div>

    <div class="col-md-4">
      <img src="images/lostAndFound.png" class="img-responsive img-circle">
      <div>
        <h1>Pooja Tupe</h1>
        I am Pooja Tupe .I have completed my schooling from Sadhana Girls School in 2009 with distinction,
        and in HSC i have secured First Class.I have completed my graduation in 2014 with Higher Second
        class.Now i am pursuing MCS from Annasaheb Magar College.
      </div>
    </div>
  </div>
</div>
